body
  {
    height: 700px;
  background-image: url("https://i.pinimg.com/originals/89/82/31/898231e84ed680f90d89b54d1df3193e.jpg");
background-size: cover;
background-repeat: no-repeat;
  background-position: center center;
  }

  form
  {
      text-align: center;
  }
  h1
  {
    font-family: 'Courier New', monospace;
    text-shadow: 2px 2px wheat;
  }